*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-style: solid;
    border-color: aqua;
}
.columna{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.adentro{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.cuadrado{
    width:10%;
    height: 10vh;
    background-color: yellow;
}